/* .Title {
  margin-bottom: 5rem;
}
.card {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  padding: 2.5rem;
}

img {
  width: 100%;
  border-radius: 10px;
}

.card-container {
  padding: 3.2 rem 1.3rem;
  display: flex;
  flex-direction: column;
  gap: 1.3rem;
}

.super_hit {
  background-color: #7dcea0;
  padding:0.9rem;
  border-radius: 15px;
  margin-left:0.5rem;
}
.average {
  background-color: #f7dc6f;
  padding:0.3rem 1.8rem;
  border-radius: 15px;
  margin-left:1.2 rem;
}
button{
  padding:1.3rem;
  border:black;
  background-color: orange;
  margin: 2rem;

}

.btn{
  padding:1.3rem;
  border:black;
  background-color: orange;
  margin: 2rem;
} */