* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  background-color: #0a0a0a;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 900;
  color: white;
  font-size:3rem;
}

h1 {
  font-size: 5.4rem;
  font-weight: bold;
  /* color: #000 !important; */
  text-align: center;
}

p{
 font-size: 10rem;
  color:rgb(247, 247, 247);
  font-family: "Urbanist", sans-serif;
   font-weight: bold;
}

span {
 
}



.container {
  max-width: 152rem;
  margin: auto;
}

header {
  margin: 3.2rem 0;
}

.odometer {
  font-size: calc(2rem + 5vw);
  color:red;
}

.title {
  letter-spacing: 1.5px;
  line-height: 1.25;
}
