/* This file contains global CSS styles that apply to the entire application.
   It allows you to define styles that should be applied globally, affecting all components within the app */

/* Base rule: Reset margin, padding, and set box-sizing */

@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Urbanist", sans-serif;
}

/* Set the root font size to scale with rem units */
html {
  font-size: 62.5%; /* 1rem = 10px */
}

/* Heading styles */
h1, h2, h3, h4, h5, h6 {
  color: var(--heading-color);
  font-family: "Poppins", sans-serif;
  font-weight: 900;
}

/* Specific h1 styles */
h1 {
  font-size: 3.2rem; /* Adjust size for h1 */
}

/* Paragraph, list, link, and label base styles */
p, li, a, label {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--para-color);
  line-height: 1.5;
  font-weight: 400;
}

/* List styles */
li {
  list-style: none;
}

/* Link styles */
a {
  text-decoration: none;
}

/* Theme Variables */
:root {
  --main-color: #0062ff;
  --supporting-color: #ebf3fe;
  --heading-color: #000a19;
  --h-color: #0a043c;
  --font-color: #333333; /* Default font color */
  --bg-color: #ffffff; /* Background color */
  --para-color: #504e4d; /* Paragraph color */
  --white-color: #ffffff;
  --bnt-hover-bg-color: #003b99;
  --btn-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  --test: #070101; /* Test variable (use as needed) */
}

/* Layout Styles */
.container {
  margin: 0 auto;
  max-width: 142rem; /* Max width of the container */
  padding: 9.6rem 2.4rem; /* Padding for the container */
}

/* Grid Styles */
.grid {
  display: grid;
  gap: 9.6rem; /* Space between grid items */
}

/* 2-Column Grid Layout */
.grid-two-cols {
  grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
}

/* 3-Column Grid Layout */
.grid-three-cols {
  grid-template-columns: repeat(3, 1fr); /* Three columns with equal width */
}
